.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.OrderHeader {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-self: center;
}

@media(min-width: 600px) {
    .OrderHeader {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        padding-right: 10px;
    }
}

