.BurgerBuilder{
    width: 80%;
    margin: auto;
    height: 250px;
}

.Item {
    border: 1px solid transparent;
}

.mainPanel {
    display: grid;
    grid-template-columns: 100%;
}

@media (min-width: 500px) {
    .BurgerBuilder {
        width: 450px;
        height: 400px;
        box-sizing: border-box;
    }
}

@media (min-width: 1250px) {
    .BurgerBuilder {
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
    }

    .mainPanel {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}