.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

.Burger {
    height: 250px;
    margin: auto;
}


@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
        box-sizing: border-box;

    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 60%;
        height: 500px;
        box-sizing: border-box;
    }
}