.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer { 
        display: none;
    }
}

.Open {
    animation: openSideDrawer 0.3s ease-out forwards;
}

.Close {
    animation: closeSideDrawer 0.3s ease-out forwards;
}

.Logo {
    margin-bottom: 32px;
    height: 11%;
    text-align: center;
}

@keyframes openSideDrawer {
    0% {
        opacity: 0;
        /* transform: translateX(-100%); */
    }

    50% {
        opacity: 1;
        transform: scaleX(1.2);
        /* transform: translateX(20%); */
    }

    100% {
        opacity: 1;
        /* transform: translateX(0%); */
    }
}

@keyframes closeSideDrawer {
    0% {
        opacity: 1;
        transform: translateX(0%);
        
    }

    50% {
        opacity: 1;
        transform: translateX(20%);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}