.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Remove {
    color: #af2e07;
    border: 1px solid gray;
    border-radius: 8%;
    text-align: center !important;
    width: 100%;
    margin: 0;
}

.Load {
    color: #5C9210;
    border: 1px solid gray;
    border-radius: 8%;
    text-align: center !important;
    width: 100%;
    margin: 0;
}

.Remove:hover {
    border: 1px solid wheat;
}

.Load:hover {
    border: 1px solid wheat;
}

.Danger {
    color: #944317;
}

.No {
    color: #dd0909;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}