.BurgerSearch {
    text-align: center;
}

.Input {
    border: none;
    /* height: 20px; */
    margin-bottom: 15px;
    font-size: large;
    padding: 10px;
}

.Button {
    font-size: large;
    padding: 10px;
    margin-bottom: 15px;

}